<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donkingliang.refreshlayout">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RecyclerViewActivity"
            android:label="嵌套RecyclerView" />
        <activity
            android:name=".ListViewActivity"
            android:label="嵌套ListView" />
        <activity
            android:name=".NestedScrollViewActivity"
            android:label="嵌套NestedScrollView" />
        <activity
            android:name=".ScrollViewActivity"
            android:label="嵌套ScrollView" />
        <activity
            android:name=".WebViewActivity"
            android:label="嵌套WebView" />
    </application>

</manifest>